<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__section">
        <h3 class="footer__title">아무 말 대잔치</h3>
        <p class="footer__desc">자유롭게 소통하는 커뮤니티 플랫폼</p>
      </div>
      <div class="footer__section">
        <h4 class="footer__heading">바로가기</h4>
        <ul class="footer__links">
          <li><a href="/pages/home/home.html">홈</a></li>
          <li><a href="/pages/profile/profile.html">프로필</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h4 class="footer__heading">정보</h4>
        <ul class="footer__links">
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">
        &copy; 2025 KTB Community. All rights reserved.
      </p>
    </div>
  </div>
</footer>
